.th-sort {
  padding: 0 10px;
  flex-shrink: 0;
}

.cursor-pointer {
  cursor: pointer;  
}

.red-icon{
  filter: invert(14%) sepia(96%) saturate(4177%) hue-rotate(351deg) brightness(85%) contrast(87%);
}

.sort-icon-size {
  width: 15px;
  height: 15px;
}

