{
  "extends": "./node_modules/eslint-config-react-app/index.js",
  "plugins": [
    "react", "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
