.tabs {
    .nav-tabs {
        width: 100%;
        border-bottom: 1px solid $gray-2;
        margin-bottom: 0;
        .nav-item {
            font-size: $font-size-400;
            padding-left: 0.938rem;
            .nav-link {
                color: $gray-5;
                font-size: 0.875rem;
                border: 0;
                padding: 0.813rem 0.813rem 0.938rem;
            }
            .active {
                border-bottom: 3px solid $gold;
                font-family: $font-family-bold;
                color: $black;
            }
        }
    }
}