.paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.813rem 0.938rem 1.25rem;
  &-view{
		display: flex;
		align-items: center;
	}
	&-text{
		white-space: nowrap;
		margin: 0 1rem;
	}
}
.pagination {
  margin: 0;
  .page-item {
    .page-link {
      align-items: center;
      background-color: transparent;
      border: none;
      color: $gray-5;
      display: flex;
      font-size: 1rem;
      height: 1.75rem;
      justify-content: center;
      width: 1.75rem;
      span {
        font-size: 1.25rem;
      }
      &:focus {
        box-shadow: none;
      }
    }
    &.active {
      font-weight: normal;
      .page-link {
        background-color: $red;
        border-radius: 0 !important;
        color: $white;
      }
    }
  }
}
