@font-face {
  font-family: 'lato-thin';
  src: local('lato-thin'), url('/fonts/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-light';
  src: local('lato-light'), url('/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-regular';
  src: local('lato-regular'), url('/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-bold';
  src: local('lato-bold'), url('/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-black';
  src: local('lato-black'), url('/fonts/Lato-Black.ttf') format('truetype');
}
