<!-- Top navbar -->
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <span class="navbar-brand mb-0 h1">
        Lighthouse Stencil Angular Showcase
      </span>
    </ul>
  </nav>
</div>

<!-- Right side menu -->
<div class="row">
  <div class="col-2">
    <!-- Core paginator -->
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/core-paginator" routerLinkActive="active">
        Core paginator
      </a>
    </div>

    <!-- Core selector -->
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/core-selector" routerLinkActive="active">
        Core selector
      </a>
    </div>

    <!-- Select skill -->
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/select-skill" routerLinkActive="active">
        Select skill
      </a>
    </div>

    <!-- Select template -->
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/select-template" routerLinkActive="active">
        Select template
      </a>
    </div>

    <!-- Skill detail -->
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/skill-detail" routerLinkActive="active">
        Skill detail
      </a>
    </div>

    <!-- Skill list -->
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/skill-list" routerLinkActive="active">
        Skill list
      </a>
    </div>

    <!-- Switch input -->
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/switch-input" routerLinkActive="active">
        Switch input
      </a>
    </div>

    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/skill-evaluation" routerLinkActive="active">
        Skill Evaluation
      </a>
    </div>

    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/breadcrumbs" routerLinkActive="active">
        Breadcrumbs
      </a>
    </div>

    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/form-input" routerLinkActive="active">
        Form Input
      </a>
    </div>

    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/modal" routerLinkActive="active">
        Modal
      </a>
    </div>
  </div>

  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
