:host {
  ul {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style: none;
  }

  /* Display list items side by side */
  li {
    display: inline;
    margin-right: 24px;
  }

  li + li:before {
    color: $gray-6;
    content: '>'; //\003e
    position: relative;
    right: 9px;
  }

  /* Add a color to all links inside the list */
  .item {
    font-size: $font-size-050;
    color: $gray-6;
    letter-spacing: 0;
    text-align: left;
    text-decoration: none;

    &:hover {
      color: $gold;
    }
  }

  .item-current {
    color: $black !important;
    font-weight: 400;
    font-family: $font-family-bold;
    &:hover {
      color: $gold;
    }
  }
}
